*{
    margin:0;
    padding:0;
}

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:40vh;
    margin-left:10vw;
    margin-right:10vw;
    padding:3vh;
    flex-wrap:wrap;
}

.text{
    display: flex;
   
    justify-content: center;
    align-items: center;

}
.text p{
    font-size: 5vw;
}
.but{
    display: flex;
    /* background-color: transparent; */
    justify-content: center;
    align-items: center;
    /* border:1.5px solid black; */
    /* border-radius:3px; */
}
#butt{
    background-color: transparent;
    border:p3x solid black;
    border-radius:5px;
    /* color:white; */
    font-size:4vw;
    padding:1vh;
    margin:1.5vh;
}
#butt:hover{
    background-color:cornsilk;
}
body{
    background-color: #fff;
}
.parent{
    background-color: aliceblue;
}
